<!-- SECTION 1 -->
<div id="home" class="grid grid-nogutter md:mb-8 md:py-0 align-items-center md:align-items-start">
                <!-- Texte gauche -->
                <div class="col-12 md:col-6 flex flex-column gap-4 md:gap-5
            flex-order-1 md:flex-order-0
            align-items-center md:align-items-start
            text-center md:text-left pr-0 md:pr-6">

  <h1 class="hero-title">
    <span class="mr-2">Envoyez</span> <span >  de l'argent</span> 
    <div class="mt-4 md:mt-4">vers La <span class="accent mt-4">Guinée</span></div>
     
  </h1>

  <p class="hero-subtitle">
    Transferts Europe → Guinée rapides et sécurisés, au taux du jour.
    Retrait cash ou e-wallet partout en Guinée.
  </p>

  <ul class="hero-features mb-6">
    <li><i class="pi pi-check"></i> Sécurisé</li>
    <li><i class="pi pi-bolt"></i> Rapide</li>
    <li><i class="pi pi-wallet"></i> Retrait facile</li>
  </ul>
</div>


          <!-- Formulaire droite -->
        <div class="col-12 md:col-6 flex flex-order-0 md:flex-order-1 justify-content-center md:justify-content-end mb-6 md:mb-0">
        <div class="surface-card border-round shadow-2 p-4 w-full" style="max-width: 380px;">
            <app-landing-send-form></app-landing-send-form>
        </div>
        </div>
    </div>
<app-card-1></app-card-1>

<landing-service></landing-service>