<div id="features" class="my-6 py-6 md:my-8 md:py-8">
                <span class="text-900 block font-bold text-5xl mb-4 text-center">Services</span>
                <span class="text-700 block text-xl mb-8 text-center line-height-3">Découvrez l'emsemble de nos services.</span>

                <div class="grid mt-8">
                     
                    <div class="col-12 md:col-6 xl:col-3 flex justify-content-center p-3">
                        <div class="box p-4 w-full surface-card surface-border border-1 border-round">
                            <img src="assets/demo/images/landing/icon-productivity.svg" alt="components icon"
                                class="block mb-3" />
                            <span class="text-900 block font-semibold mb-3 text-lg">Transfert</span>
                            <p class="m-0 text-secondary text-700">Envoyez de l’argent  vers la Guinée en minutes. Taux  compétitifs, frais transparents, paiement carte/Paypal.</p>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 flex justify-content-center p-3">
                        <div class="box p-4 w-full surface-card surface-border border-1 border-round">
                            <img src="assets/demo/images/landing/icon-accessibility.svg" alt="components icon"
                                class="block mb-3" />
                            <span class="text-900 block font-semibold mb-3 text-lg">Retrait</span>
                            <p class="m-0 text-secondary text-700">Retrait rapide partout en Guinée. Dans nos points partenaires ou crédit immédiat sur Orange Money / MTN Mobile Money.</p>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 flex justify-content-center p-3">
                        <div class="box p-4 w-full surface-card surface-border border-1 border-round">
                            <img src="assets/demo/images/landing/icon-support.svg" alt="components icon"
                                class="block mb-3" />
                            <span class="text-900 block font-semibold mb-3 text-lg">Agence</span>
                            <p class="m-0 text-secondary text-700">+4000 agences partenaires pour vos retraits. Service client réactif, conformité KYC/AML, 
                                traçabilité des opérations et assistance 7j/7 pour vos transferts.</p>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 flex justify-content-center p-3">
                        <div class="box p-4 w-full surface-card surface-border border-1 border-round">
                            <img src="assets/demo/images/landing/icon-mobile.svg" alt="components icon"
                                class="block mb-3" />
                            <span class="text-900 block font-semibold mb-3 text-lg">Mobile</span>
                            <p class="m-0 text-secondary text-700">Notre plateforme est responssive vous pouvez l'utiliser sur ordinateur, tablette ou smartphone.</p>
                        </div>
                    </div> 
                </div>
</div>