<div class="grid">
    <div class="col-12">
        <div class="flex flex-column sm:flex-row align-items-center gap-4">
            <div class="flex flex-column sm:flex-row align-items-center gap-3">
                <img src="assets/demo/images/avatar/circle/utilisateur (1).png" class="w-3rem h-3rem flex-shrink-0">
                <div class="flex flex-column align-items-center sm:align-items-start">
            <span class="text-900 font-bold text-2xl">
            <!-- Hello {{ (me$ | async)?.nom_complet || ((me$ | async)?.prenom + ' ' + (me$ | async)?.nom) }} -->
            </span>
                 </div>
            </div>
            <div class="flex gap-2 sm:ml-auto">
                <!-- <button type="button" pButton pTooltip="Exchange" tooltipPosition="bottom" icon="pi pi-arrows-h" class="p-button-rounded p-button-outlined"></button> -->
                <!-- <button type="button" pButton pTooltip="Withdraw" tooltipPosition="bottom" icon="pi pi-filter" label class="p-button-rounded p-button-outlined"></button> -->
                <!-- <button type="button" pButton pTooltip="Send" tooltipPosition="bottom" icon="pi pi-filter" class="p-button-rounded ">Filtre</button> -->
            </div>
        </div>
    </div>  
 
      <div class="col-12 md:col-6 xl:col-4"  >
        <div class="card h-full relative overflow-hidden" style="cursor: pointer;"  [routerLink]="['/dashboard/transfert/envoie']" routerLinkActive="router-link-active">
            <svg id="visual" viewBox="0 0 900 600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="absolute left-0 top-0 h-full w-full z-1" preserveAspectRatio="none">
                <rect x="0" y="0" width="900" height="800" fill="var(--primary-800)"></rect>
                <path d="M0 400L30 386.5C60 373 120 346 180 334.8C240 323.7 300 328.3 360 345.2C420 362 480 391 540 392C600 393 660 366 720 355.2C780 344.3 840 349.7 870 352.3L900 355L900 601L870 601C840 601 780 601 720 601C660 601 600 601 540 601C480 601 420 601 360 601C300 601 240 601 180 601C120 601 60 601 30 601L0 601Z" fill="var(--primary-900)" stroke-linecap="round" stroke-linejoin="miter"></path>
            </svg>
            <div class="z-2 relative text-white">
                <div class="text-xl font-semibold mb-3">Envoyer de l'argent</div>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-6 xl:col-4">
        <div class="card h-full">
            <div class="flex align-items-center justify-content-between mb-3">
                <div class="text-900 text-xl font-semibold">Evnoie Orange-Money</div>
             </div>
         </div>
    </div>
    <div class="col-12 md:col-6 xl:col-4"  >
        <div class="card h-full" [routerLink]="['/dashboard/transfert/liste']" routerLinkActive="router-link-active" style="cursor: pointer;">
            <div class="flex align-items-center justify-content-between mb-3">
                <div class="text-900 text-xl font-semibold">Historique </div>
                <!-- <img src="assets/demo/images/banking/visa.svg" class="h-1rem"> -->
            </div>
        </div>
    </div>
    
</div>
 