   <div class="flex align-items-center justify-content-between mb-3">
            </div>

            <!-- Montant saisi en EUR -->
            <label class="block text-600 mb-2 font-semibold">Vous envoyez</label>
            <div class="p-inputgroup mb-3">
              <p-inputNumber 
               [(ngModel)]="amountInput"
               (onInput)="onAmountInput()" 
               [min]="0" [minFractionDigits]="0" 
               [maxFractionDigits]="2"
               inputId="amountInput"
               [inputStyleClass]="'text-xl font-semibold focus:outline-none focus:ring-0 focus:border-green-500'">
              </p-inputNumber>
              <span class="p-inputgroup-addon text-700">EUR</span>
            </div>

            <!-- Reçu -->  
            <label class="block text-600 font-semibold  mb-2">Le destinataire reçoit</label>
            <div class="p-inputgroup mb-3">
            <p-inputNumber
            [(ngModel)]="receiveGNF"
            (onInput)="onReceiveInput()"
            [readonly]="false"
            [min]="0"
            [minFractionDigits]="0"
            [maxFractionDigits]="0"
            inputId="receiveGNF"
            [inputStyleClass]="'text-xl font-semibold focus:outline-none focus:ring-0 focus:border-green-500'">
          </p-inputNumber>

            <span class="p-inputgroup-addon text-700">GNF</span>
            </div>

            <!-- Récap -->
            <div class="flex justify-content-between align-items-center text-700 mb-2 mt-4">
                <div class="flex align-items-center gap-2">
                     <span class="text-700 mt-1">Frais Inclus&nbsp;?</span>
                    <p-inputSwitch [(ngModel)]="feesIncluded" (onChange)="recalc()"  styleClass="inputswitch-sm" class="mt-2"></p-inputSwitch>
                </div>
                <span><strong>{{ fees | money:'EUR':'normal' }}</strong> </span>
                </div>
            <div class="flex justify-content-between text-700 mb-3">
              <span>Total à payer</span>
              <span><strong>{{ totalToPay | money:'EUR':'normal' }}</strong> </span>
            </div>

            <button pButton class="w-full" label="Commencer" icon="pi pi-arrow-right" iconPos="right"
                    [disabled]="!amountInput || amountInput <= 0"
                    (click)="startTransfer()"></button>

            <!-- FOOTER Taux -->
            <div class="p-3 border-round mt-3" [ngClass]="promo ? 'bg-green-100' : 'surface-50'">
              <div class="mt-2 text-700">
                1 EUR = <strong>{{ rate | money:'GNF':'normal' }}</strong>
                <span *ngIf="promo" class="ml-2 line-through">{{ rateBase | number:'1.0-0' }}</span>
              </div>
              <div class="flex align-items-center gap-2">
                <i class="pi pi-tag"></i>
                <span class="text-900">{{ promo ? 'Taux promotionnel !' : 'Taux actuel' }}</span>
              </div>
            </div>
 