<!-- Promo Starbucks -->
<div class="promo-card border-round-2xl overflow-hidden shadow-2">
  <div class="grid grid-nogutter align-items-stretch">

    <!-- Panneau vert (texte) -->
    <div class="col-12 md:col-5 flex flex-column justify-content-center promo-left px-5 py-6">
      <h2 class="promo-title text-white">DSPAY<sup class="promo-badge">GNF</sup></h2>
      <button pButton
              label="Plus d’infos"
              class="promo-btn p-button-rounded p-button-lg"
              [routerLink]="['/about']" routerLinkActive="router-link-active" >
      </button>
    </div>

    <!-- Image (tu remplaces l'URL) -->
        <div class="col-12 md:col-7 p-0 relative">
  <div class="promo-img">
    <img src="assets/demo/images/blocks/hero/hero- (1).jpg" alt="Promo DSPAY" />
  </div>

  <div class="promo-overlay">
    <p-tag styleClass="promo-tag" ><span style="font-size: 0.9rem; letter-spacing: 0.1rem;" >Pour la diaspora</span></p-tag>
    <div class="promo-caption "> 
      <div class="mt-1">Transfert/Retrait</div> 
      <div class="mt-1">E-wallet</div>
  </div>
</div>


  </div>
</div>